@import "~bulma/sass/utilities/initial-variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

.navbar {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    z-index: 100;
}

.nav-item {
    padding: 10px 30px;
}

.jumbotron-hero {
    height: 50vh;
}

.jumbotron-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.home-hero {
    height: 100vh;
    padding: 0;
    position: relative;
}

.hero-content {
    z-index: 3;
}

.hero {
    padding: 0;
    position: relative;
}

.content-container {
    padding: 100px 0 110px 0;
}

.overlay-home {   
    background-color: black; 
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.overlay {   
    background-color: black; 
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.page-footer {
    background-color: #383E49;
    color: white;

    a {
        color: white;
    }

    .btn {
        padding: 5px 30px;
    }
}

.footer-copyright {
    background-color: #2D323A;
    color: white;

    a {
        color: white;
    }
}

.background-image {
    background-image: url("https://via.placeholder.com/640x480");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        display: block;
        padding-bottom: 56.25%;
    }
}

.contact-form-container {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: 992px) {
        justify-content: flex-end;
    }
}

.contact-form {
    padding-left: 12px;
    width: 720px;

    @media (min-width: 992px) {
        width: 450px;
    }

    @media (min-width: 1200px) {
        width: 550px;
    }
}

.map {
    border: 0;
    height: 100vh;
    width: 100%;

    @media (min-width: 768px) {
        height: 50vh;
    }

    @media (min-width: 992px) {
        height: 100%;
    }
}

.page-title {
    text-align: center;
}

.content-block {
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 100px 0 110px 0;
    width: 100%;
}

.content-block-quote {
    padding: 50px 0;
}

.card {
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.05);
}
