@import "~bulma/sass/utilities/initial-variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&subset=latin-ext,vietnamese');

h1, h2, h3 {
    font-weight: 300;
}

.heading {
    font-family: 'Alfa Slab One', cursive;
    font-size: 32px;

    @media (min-width: 576px) {
        font-size: 40px
    }
}

.btn-default {
    background-color: #333;
    border-radius: 3px;
    border: 1px solid #b1b0b0;
    color: white;
    padding: 10px 20px;
}

.btn-default:hover {
    border: 1px solid white;
    color: white;
}

.navbar {
    position: relative;
    width: 100%;
    z-index: 100;
}

.navbar-expanded {
    display: block !important;
    height: 240px;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar-toggler {
    border: none;
}

.nav-item {
    font-weight: bold;
    padding: 10px 30px;    
}

.nav-link {    
    color: #333 !important;
}

@media (min-width: 992px) {
    .nav-item:after {    
        display: block;
        content: '';
        margin: 0 auto;
        border-bottom: solid 2px black;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        width: 30%;
    }

    .nav-item:hover:after { transform: scaleX(1); }
}

.jumbotron-hero {
    height: calc(100vh - 88px);

    @media (min-width: 768px) {
        height: calc(75vh - 88px);
    }

    @media (min-width: 992px) {
        height: calc(50vh - 88px);
    }
}

.jumbotron-container {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    justify-content: center;
}

.jumbotron-container-info {
    flex-direction: row;
    width: 100%;

    @media (min-width: 992px) {
        width: 65%;
    }
}

.home-hero {
    height: calc(100vh - 88px);
    padding: 0;
    position: relative;
}

.hero-content-container {
    display: flex;
    z-index: 3;
}

.hero-content {
    width: 100%;
    text-align: center;

    @media (min-width: 992px) {
        text-align: left;
        width: 50%;
    }

    h1 {
        font-size: 48px;
        font-weight: bold;

        @media (min-width: 1200px) {
            font-size: 72px;
            font-weight: bold;
        }
    }
}

.contact-content {
    z-index: 3;

    h1 {        
        font-size: 32px;

        @media (min-width: 768px) {
            font-size: 44px
        }

        @media (min-width: 992px) {
            font-size: 56px
        }
    }
}

.hero {
    padding: 0;
    position: relative;
}

.content-container {
    padding: 50px 0 60px 0;

    @media (min-width: 992px) {
        padding: 75px 0 85px 0;
    }

    @media (min-width: 1200px) {
        padding: 100px 0 110px 0;
    }
}

.overlay-home {   
    background-color: black; 
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.overlay {   
    background-color: black; 
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.footer-heading {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;

    @media (min-width: 992px) {
        text-align: left;
    }
}

.page-footer {
    background-color: #222222;
    color: #d6d6d6;

    a {
        color: #d6d6d6;
    }

    .btn {
        padding: 5px 30px;
    }
}

.footer-copyright {
    background-color: #333333;
    color: #d6d6d6;

    a {
        color: #d6d6d6;
    }
}

.footer-row {
    padding-bottom: 20px;
}

.footer-logo {
    height: 200px;
    width: 200px;
}

.footer-logo-container {
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
        justify-content: flex-end;
    }
}

.background-image {
    background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
    height: auto;
	margin-bottom: 40px;
	overflow: hidden;
	position: relative;
}

.background-image-display {
    margin: 0;

    &:before {
        content: "";
        display: block;
        padding-bottom: 56.25%;
    }
}

.contact-form-container {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: 992px) {
        justify-content: flex-end;
    }
}

.contact-form {
    padding: 50px 0 60px 0;
    padding-left: 12px;
    width: 720px;

    @media (min-width: 992px) {
        padding: 75px 0 85px 0;
        width: 450px;
    }

    @media (min-width: 1200px) {
        padding: 100px 0 110px 0;
        width: 550px;
    }
}

.map {
    border: 0;
    height: 100vh;
    width: 100%;

    @media (min-width: 768px) {
        height: 50vh;
    }

    @media (min-width: 992px) {
        height: 100%;
    }
}

.page-title {
    text-align: center;
}

.content-block {
    margin: 0 auto;
    padding: 50px 0 60px 0;
    width: 100%;

    @media (min-width: 992px) {
        padding: 75px 0 85px 0;
    }

    @media (min-width: 1200px) {
        padding: 100px 0 110px 0;
    }
}

.content-block-quote {
    padding: 50px 0;
}

.card {
    background-color: #f7f7f7;
    border: none;
}


.full-width {
    width: 100%;
}

.relative {
    position: relative;
}

.contact-container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.contact-text {
    font-size: 32px;
    font-weight: bold;    
    text-align: left;

    @media (min-width: 992px) {
        font-size: 48px;
    }
}

.contact-text-reverse {
    text-align: right;
}

.btn-center {
    margin: 0 auto;
}

.services-row {
    display: flex;
    flex-direction: row;
    height: auto;

    .background-image {
        height: 300px;
    }
}

.services-row:nth-child(2n) {
    flex-direction: row-reverse;
}

.gallery-heading-container {
    padding: 0 20px 30px 20px;

    @media (min-width: 558px) {
        padding: 0 0 75px 0;
    }
}

.fix-col {
    padding-right: 0;

    @media (min-width: 576px) {
        padding-right: 15px;
    }
}

.gallery-image {
    margin-bottom: 0;

    @media (min-width: 576px) {
        margin-bottom: 30px;
    }
}

.about-heading-container {
    padding: 0 20px 75px 20px;
    
    @media (min-width: 558px) {
        padding: 0 0 75px 0;
    }
}

.services-content {
    padding: 20px;

    @media (min-width: 576px) {
        padding: 75px;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
}

.image-banner {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}

.footer-col {
    padding-bottom: 20px;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }
}